/*
 * Interwiki.css
 * 跨维基模块自定义样式
 */

/* Sidebar */

:root {
    --p-gray-0: #ffffff;
    --p-gray-1: #fafafa;
    --p-gray-2: #e8e8e8;
    --p-gray-3: #707070;
    --p-gray-4: #414141;
    --p-gray-5: #1e1e1e;
    --p-gray-6: #171717;
    --p-gray-7: #000000;

    --p-theme-color-light: #3b69e4;
    --p-theme-color: #3d5cab;
    --p-theme-color-dark: #354f96;

    --p-sideblock-margin-bottom: 1.5rem;
    --p-sideblock-padding: 0.5rem 1rem;
    --p-sideblock-background-color: var(--p-gray-0);
    --p-sideblock-border: 0.1rem solid var(--p-gray-2);
    --p-sideblock-border-radius: var(--p-border-radius-medium);
    --p-sideblock-border-bottom: 0.1rem solid var(--p-gray-2);
    --p-sideblock-text-color: var(--p-gray-5);
    --p-sideblock-link-color: var(--p-gray-4);
    --p-sideblock-link-hover-color: var(--p-theme-color);

    --p-border-radius-medium: 0.5rem;
}

#interwiki body {
    padding: 0 !important;
    margin: 0 !important;
}

#interwiki div.side-block {
    margin-bottom: var(--p-sideblock-margin-bottom);
    padding: var(--p-sideblock-padding);
    background-color: var(--p-sideblock-background-color) !important;
    border: var(--p-sideblock-border);
    border-radius: var(--p-sideblock-border-radius);
    text-align: left;
    direction: rtl;
    font-size: 80%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#interwiki .side-block .heading {
    margin-bottom: 0.25rem;
    padding-bottom: 0.1rem;
    border-bottom: var(--p-sideblock-border-bottom);
    display: block;
    flex-basis: 100%;
}

#interwiki .side-block .heading p {
    margin: 0;
    font-size: var(--p-font-size-large);
    font-weight: 700;
    color: var(--p-sideblock-link-color);
    text-align: left;
}

#interwiki .side-block .menu-item {
    display: inline-block;
    padding-right: 0.55rem;
    line-height: 1rem;
}

#interwiki .side-block .menu-item img.image {
    display: none;
}

#interwiki .side-block .menu-item a {
    color: var(--p-sideblock-link-color);
    text-decoration: none;
    transition: color var(--p-animation-duration-short);
    flex-shrink: 0;
}

#interwiki .side-block .menu-item a:hover {
    color: var(--p-theme-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.2rem;
}

#interwiki .side-block .menu-item a + a {
    margin: 0rem 0.25rem;
}