/*
 * Interwiki.css
 * 跨维基模块自定义样式
 */

/* Sidebar */

#side-bar .side-block {
    margin-bottom: var(--p-sideblock-margin-bottom);
    padding: var(--p-sideblock-padding);
    background-color: var(--p-sideblock-background-color) !important;
    border: var(--p-sideblock-border);
    border-radius: var(--p-sideblock-border-radius);
    text-align: left;
}

:where(#side-bar .side-block.newcomer > .heading:first-child, 
        #side-bar .side-block a[href="/"],
        #side-bar .side-block.resources > .heading:first-child,
        #side-bar .side-block.admin a.collapsible-block-link,
        #side-bar .side-block.media > .heading:first-child
        )::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    mask-size: contain;
    background-color: var(--p-sideblock-icon-color);
}

#side-bar .side-block.newcomer > .heading:first-child::before {
    mask: var(--p-icon-newcomer);
}

#side-bar .side-block.resources > .heading:first-child::before {
    mask: var(--p-icon-resource);
}

#side-bar .side-block.media > .heading:first-child::before {
    mask: var(--p-icon-media);
}
#side-bar .side-block a[href="/"]::before {
    mask: var(--p-icon-home);
}

#side-bar .side-block.admin a.collapsible-block-link::before {
    mask: var(--p-icon-admin);
}

#side-bar .side-block .heading, #side-bar .side-block a[href="/"] {
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    border-bottom: var(--p-sideblock-border-bottom);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
}

#side-bar .side-block .heading p, #side-bar .side-block a[href="/"], #side-bar .side-block .collapsible-block-link {
    margin: 0;
    font-size: var(--p-font-size-large);
    font-weight: 700;
    color: var(--p-sideblock-link-color);
    text-align: left;
}

#side-bar .side-block .menu-item, #side-bar .side-block .collapsible-block-link {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#side-bar .side-block:not(.media) .menu-item img.image {
    display: none;
}

#side-bar .side-block .menu-item a {
    color: var(--p-sideblock-link-color);
    text-decoration: none;
    transition: color var(--p-animation-duration-short);
    flex-shrink: 0;
}

#side-bar .side-block .menu-item a:hover {
    color: var(--p-theme-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.2rem;
}

#side-bar .side-block .menu-item a + a {
    margin: 0rem 0.25rem;
}