:root {
    --p-icon-sidebar: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktbGlzdCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yLjUgMTJhLjUuNSAwIDAgMSAuNS0uNWgxMGEuNS41IDAgMCAxIDAgMUgzYS41LjUgMCAwIDEtLjUtLjV6bTAtNGEuNS41IDAgMCAxIC41LS41aDEwYS41LjUgMCAwIDEgMCAxSDNhLjUuNSAwIDAgMS0uNS0uNXptMC00YS41LjUgMCAwIDEgLjUtLjVoMTBhLjUuNSAwIDAgMSAwIDFIM2EuNS41IDAgMCAxLS41LS41eiIvPgo8L3N2Zz4=");
}

@media (min-width: 768px) {

    div#header {
        grid-template-columns: var(--p-header-height) var(--p-header-height) auto 1fr var(--p-header-height) var(--p-header-height);
        grid-template-areas: 'sidebar logo title topbar user search';
        z-index: 99;
    }

}

div#side-bar::after {
    top: 0rem;
    z-index: 100;
    width: calc(var(--p-header-height) + 0.75rem);
    background-color: var(--p-gray-4);
    transition: background-color var(--p-animation-duration-medium);
}

div#side-bar:hover::after {
    opacity: 1;
    background-color: var(--p-gray-3);
}